<mat-sidenav-container class="sidenav-container">

  <mat-sidenav class="sidenav" opened mode="side">
    <img src="assets/img/cofo-logo.svg" height="100" width="100" class="logo" alt="">
    <app-nav-sidenav></app-nav-sidenav>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">

    <mat-toolbar class="toolbar">

      <mat-toolbar-row>
        <span class="space"></span>
        <app-nav-toolbar></app-nav-toolbar>
      </mat-toolbar-row>
      
    </mat-toolbar>

    <div class="container">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>