<mat-nav-list role="list">
  <a mat-list-item routerLink="/home" class="animated fadeInLeft" role="listitem">ABOUT</a>
  <a mat-list-item routerLink="/products" class="animated fadeInLeft" role="listitem">PRODUCTS</a>
  <a mat-list-item routerLink="/services" class="animated fadeInLeft" role="listitem">SERVICES</a>
  <a mat-list-item routerLink="/galery" class="animated fadeInLeft" role="listitem">GALLERY</a>
  <a mat-list-item routerLink="/blog" class="animated fadeInLeft" role="listitem">BLOG</a>
  <a mat-list-item routerLink="/contact" class="animated fadeInLeft" role="listitem">CONTACT</a>
</mat-nav-list>