<div class="row">
    <div class="col-lg-6">
        <div class="text-main animated fadeInLeft">
            <span class="text-with-back-color">We are creative</span>
            <h1>
                <span>THINK</span>
                <span>OUTSIDE</span>
                <span>THE BOX</span>
            </h1>
            <p>
                <span>GRAPHIC AND WEB DESIGN</span>
            </p>
            <p>+ read more</p>
        </div>
    </div>
    <div class="col-lg-6">
        <img src="assets/img/company.svg" class="animated fadeInDown" width="500" height="500" alt="">
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="text-button">
            <h1>
                <span class="text-with-back-color">If you can dream it</span>
                <span class="text-with-back-color">You can do it.</span>
            </h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium mollitia ipsam debitis itaque. Totam iusto
                rerum necessitatibus suscipit. Neque illum itaque soluta excepturi debitis cum quo porro est, quod quam?</p>
        </div>
    </div>
</div>